/* --------------------
        テーマ変数
-------------------- */

:root {
  --bg-color: #ffffff;
  --text-color: #333;
  --theme-color: #00a0a0;
  --table-even: #f9f9f9;
  --table-border: #f0f0f0;
}

.dark {
  --bg-color: #121212;
  --text-color: #eeeeee;
  --theme-color: #4fd1c5;
  --table-even: #1e1e1e;
  --table-border: #333;
}

/* --------------------
        全体
-------------------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 30px;
  background: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s;
}

/* --------------------
        見出し
-------------------- */

h1, h2, h3 {
  color: var(--theme-color);
  border-bottom: dashed 0.1em var(--theme-color);
}

/* --------------------
        リンク
-------------------- */

a {
  color: var(--theme-color);
  text-decoration: none;
}

/* --------------------
        リスト
-------------------- */

ul {
  list-style: none;
}

li:before {
  content: "★";
  color: var(--theme-color);
}

/* --------------------
          表
-------------------- */

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px var(--table-border);
  min-width: 70%;
}

tr:nth-child(2n) {
  background-color: var(--table-even);
}

th {
  background: var(--theme-color);
  color: white;
}

th, td {
  border: solid 1px var(--table-border);
  padding: 0.5rem;
}
